.actionPortfolioContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    .actionPortfolioTitle {
        font-size: 20px;
        margin-bottom: 12px;
    }

    .actionPortfolioBody {
        margin: 12px 0;

        form {
            mat-form-field {
                width: 100%;
            }
        }
    }

    .actionPortfolioActions {
        margin-top: auto;
        margin-left: auto;

        button:not(:last-child) {
            margin-right: 12px;
        }
    }
}