<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" position="start" fxLayout="column" class="sidenavMenu">
    <div class="sidenav">
      <div class="toolbar" role="banner">  
        <span>Menú Lateral</span>
      </div>

      <div class="sidenavMenu">
        <mat-list>
          <a mat-list-item *ngFor="let item of itemsMenu" [routerLink]="item.route" (click)="sidenav.close()">
            <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            <h4 mat-line>{{ item.title }}</h4>
          </a>
        </mat-list>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content id="wrapper">
    <div class="toolbar" role="banner">
      <button mat-icon-button class="menu-button" (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>

      <img src="assets/crypto_logo.png"/>

      <span>CryptoPortfolio</span>
    </div>
    
    <mat-progress-bar mode="indeterminate" color="accent" *ngIf="loading.actionInProgress || loading.loading || loading.loadingRealCryptos"></mat-progress-bar>
    
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>